:root {
  --primary: #da9323;
  --primary-dark: #f83771;
  --secondary: #131313;
  --light: #f0f0f0;
  --medium: #cacaca;
  --dark: #a2a2a2;
}


/*

Cadastro:
Tópicos:
Nome
Sobrenome
Data 
Nasc 
Cpf 
Rg 
Endereço
Senha



